.link-unstyled {
  color: inherit;
  text-decoration: none;
}

.h1-style {
  font-family: 'Helvetica', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.link-width {
  width: 45px;
  background-color: antiquewhite;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.container {
  padding: 20px;
}

.card {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f7f7f7;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.card-body {
  background-color: #ffffff;
}

.list-group-item {
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.text-dark-danger {
  color: #8B0000
}

.full-height-container {
  height: 100vh;
}

.margen-bottom {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .margen-bottom {
    margin-bottom: 25%;
  }
}

.bg-bloque1 {
  background-color: #60c0ff;
}

.bg-bloque2 {
  background-color: #66df9a;
}

.bg-bloque3 {
  background-color: #ffc76d;
}

.bg-bloque4 {
  background-color: #adadad;
}

main a {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: inherit;
  text-decoration: none;
  background-color: #cccccc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

main a:hover {
  background-color: #a0a0a0;
}

.fondogradiente {
  background-image: linear-gradient(black, grey);
}